<div class="about-us">
  <h1>About Kirby Club</h1>
  <p>We are a club based in Jönköping University. We have plenty events, merch
    and new friends waiting for you! Our club was founded in 2019 during a
    summer project for our course Fundamentals of Clubs and Managments</p>
</div>