<div id="header">
  <h1>Kirby Club</h1>
  <p>Welcome to the Kirby Club where you can find new friends and plan events
    for our beloved Kirby god. We also have Kirby Merch with our new colors for
    the summer!!
  </p>
  <button class="become-btn"> Become a Member</button>
</div>