<div>
  <h1>Members</h1>
  <p>Here is a list of our most involved members of the Kirby Club. If you want
    to see what events we have worked on click on our names</p>

</div>

<body>
  <ul>
    {{#each members}}
      <li>{{this.username}}
        -
        {{this.fname}}
        {{this.lname}}
        -
        {{this.email}}</li>
    {{/each}}
  </ul>
</body>